;; Configuration and orientation for semi-automated organization of
;; Ginkgo SARS-CoV-2 Synthesis work
{:google {:sheets {:construct-groups "13vPqT6NPtX0w1USyugPjTBoCQ2p7Swe4JkIxS7MIwRQ"}}
 ;; Fixing of properties
 :adjust-properties
 {:display-name {"S (spike)" #{"surface gylcoprotein"}
                 "E (envelope)" #{"envelope protein"}
                 "M (membrane)" #{"membrane glycoprotein"}
                 "N (nucleocapsid)" #{"nucleocapsid phosphoprotein"}
                 "Cleavable thrombin" #{"linker_cleavable_thrombin_scerevisiae"}
                 "MBP" #{"orf_EPITOPE_mbp_scerevisiae" "MBP"}
                 "6xHIS" #{"EPITOPE_affinity_6xhis_multiple" "Tag | 6xHis"}
                 "StrepII" #{"EPITOPE_affinity_strepii_multiple" "Tag | StrepII"}
                 "3xFLAG" #{"Sc 3x FLAG tag"}
                 }
  :mol-props {2114452 {:display-name "AmpR; 2u URA3"
                       :antibiotic-resistance "ampicillin"
                       :copy-number "high"
                       :prototrophy "uracil"}
              2848551 {:antibiotic-resistance "chloramphenicol"
                       :copy-number "high"
                       :growth-condition "Best grown in 30C"}
              1586711 {:display-name "Cleavable thrombin"}
              1106295 {:display-name "Cleavable TEV"}
              1106277 {:display-name "HA"}
              1106288 {:display-name "Myc"}
              1106275 {:display-name "FLAG_2"}
              180976 {:display-name "Linker_GGSG"}
              2048679 {:display-name "MBP"}
              1106083 {:display-name "GST"}
              2409937 {:organism "Escherichia coli str. K-12 substr. MG1655"}
              4137380 {:design-accession "YP_009724390.1" :design-protein-name "surface glycoprotein"
                       :design-source-organism "Severe acute respiratory syndrome coronavirus 2"
                       :design-promoter "CMV"
                       :design-protein-mutations "19-aa Ctrunc" :design-recode "H. sapiens recode"}
              4137376 {:design-accession "YP_009724390.1" :design-protein-name "surface glycoprotein"
                       :design-source-organism "Severe acute respiratory syndrome coronavirus 2"
                       :design-promoter "CMV"
                       :design-protein-mutations "19-aa Ctrunc" :design-recode "wt"}
              4137377 {:design-accession "YP_009724390.1" :design-protein-name "surface glycoprotein"
                       :design-source-organism "Severe acute respiratory syndrome coronavirus 2"
                       :design-promoter "CMV"
                       :design-protein-mutations "wt" :design-recode "wt"}
              4137379 {:design-accession "YP_009724390.1" :design-protein-name "surface glycoprotein"
                       :design-source-organism "Severe acute respiratory syndrome coronavirus 2"
                       :design-promoter "CMV"
                       :design-protein-mutations "wt" :design-recode "H. sapiens recode"}
              4137378 {:design-accession "YP_009724390.1" :design-protein-name "surface glycoprotein"
                       :design-source-organism "Severe acute respiratory syndrome coronavirus 2"
                       :design-promoter "CMV"
                       :design-protein-mutations "18-aa Ctrunc" :design-recode "wt"}
              4137381 {:design-accession "YP_009724390.1" :design-protein-name "surface glycoprotein"
                       :design-source-organism "Severe acute respiratory syndrome coronavirus 2"
                       :design-promoter "CMV"
                       :design-protein-mutations "18-aa Ctrunc" :design-recode "H. sapiens recode"}
              4155327 {:organism "Homo sapiens"}
              4164339 {:design-accession "YP_009724390.1" :design-protein-name "surface glycoprotein"
                       :design-source-organism "Severe acute respiratory syndrome coronavirus 2"
                       :design-protein-mutations "wt" :design-recode "Gordon et al recoded"}
              4164340 {:design-accession "YP_009724390.1" :design-protein-name "surface glycoprotein"
                       :design-source-organism "Severe acute respiratory syndrome coronavirus 2"
                       :design-protein-mutations "19-aa Ctrunc" :design-recode "Gordon et al recoded"}
              4164343 {:design-accession "YP_009724390.1" :design-protein-name "surface glycoprotein"
                       :design-source-organism "Severe acute respiratory syndrome coronavirus 2"
                       :design-protein-mutations "18-aa Ctrunc" :design-recode "Gordon et al recoded"}
              4092649 {:design-protein-name "fragment of orf1ab 3pUTR to viral genome 3pUTR"
                       :design-source-organism "Severe acute respiratory syndrome coronavirus 2"
                       :design-protein-mutations "inactivating mutations in all ORFs and tIIs restriction sites removed with 15 base polyA tail"
                       :design-recode "Nearly native encoding"}
              4092646 {:design-protein-name "fragment of orf1ab 3pUTR to viral genome 3pUTR"
                       :design-source-organism "Severe acute respiratory syndrome coronavirus 2"
                       :design-protein-mutations "handful SNPs as watermarks; tIIs restriction sites removed with 15 base polyA tail"
                       :design-recode "Nearly native encoding"}
              4092657 {:design-protein-name "fragment orf1a mature peptide 3 to orf1a stop"
                       :design-source-organism "Severe acute respiratory syndrome coronavirus 2"
                       :design-protein-mutations "wt"
                       :design-recode "wt"}
              4092659 {:design-protein-name "fragment orf1a stop to orf1b stop"
                       :design-source-organism "Severe acute respiratory syndrome coronavirus 2"
                       :design-protein-mutations "handful of SNPs as watermarks"
                       :design-recode "wt"}
              4092647 {:design-protein-name "fragment of orf1ab 3pUTR to viral genome 3pUTR"
                       :design-source-organism "Severe acute respiratory syndrome coronavirus 2"
                       :design-protein-mutations "inactivating mutations in all ORFs and tIIs restriction sites removed with 5 base polyA tail"
                       :design-recode "Nearly native encoding"}
              44379 {:copy-number "high"}
              4110537 {:copy-number "high" :antibiotic-resistance "ampicillin" :selectable-marker "puromycin"
                       :design-promoter "CMV"}
              4135990 {:copy-number "high" :antibiotic-resistance "ampicillin" :selectable-marker "puromycin"
                       :design-promoter "CMV"}
              4110536 {:copy-number "high" :antibiotic-resistance "ampicillin" :selectable-marker "hygromycin"
                       :design-promoter "CMV"}
              4135991 {:copy-number "high" :antibiotic-resistance "ampicillin" :selectable-marker "hygromycin"
                       :design-promoter "CMV"}
              4105721 {:copy-number "high" :antibiotic-resistance "ampicillin" :design-promoter "CMV"}
              4128313 {:display-name "SARS CoV-2 secretion signal"}
              4128315 {:display-name "Linker_GSS"}
              4124344 {:display-name "Nanoluciferase"}
              4128314 {:display-name "8xHIS"}
              4128316 {:display-name "Linker_GSSGSS"}
              4110707 {:display-name "Cleavable TEV"}
              4110697 {:display-name "TRX"}
              4110698 {:display-name "3xFlag"}
              4110701 {:display-name "TapTag"}
              4110696 {:display-name "S-tag"}
              4110704 {:display-name "V5"}
              4110703 {:display-name "CBP"}
              4110699 {:display-name "HA"}
              }}
 ;; Filtering of constructs not made available
 :filters {:molecule-name {:remove #{"EGFP" "luciferase"}
                           :allow #{}}}
 :adjustments {:molecule ["patches/Loom_trans_779_newmIDlookup.xlsx" "patches/Loom_trans_780_newmIDlookup.xlsx"
                          "patches/515900_lookup.xlsx"]}
 ;; Details on Addgene and BioBricks submissions
 :submissions {"2020-04-07" {:containers [503313 503317 503945 504295]}
               "2020-04-15" {:containers [505170 505199 505200 505201]}
               "2020-04-22" {:containers [505555 506641 506642]}
               "2020-04-29" {:containers [507960 507971 507972 507973 507974 507975 507976 507977 507978
                                          507979 507980 507981 507982 508049 508050 508051]}
               "2020-05-13" {:containers [509137 511672 511639 511638 511706]
                             :with-replicates #{509137}}
               "2020-06-04" {:containers [515900]
                             :filters {:molecule-name {:remove #{"EGFP"}}}}}
 :ngs-validation-experiments #{"17736" "17792"}
 :ncbi-to-uniprot {"YP_009725311.1" "nsp16"
                   "YP_009725307.1" "nsp12"
                   "YP_009725309.1" "ExoN"
                   "YP_009725310.1" "nsp15"}
 }
