;; Configuration and orientation for semi-automated organization of
;; Ginkgo SARS-CoV-2 Synthesis work
{:google {:sheets {:construct-groups "13vPqT6NPtX0w1USyugPjTBoCQ2p7Swe4JkIxS7MIwRQ"}}
 ;; Fixing of properties
 :adjust-properties
 {:display-name {"S (spike)" #{"surface gylcoprotein"}
                 "E (envelope)" #{"envelope protein"}
                 "M (membrane)" #{"membrane glycoprotein"}
                 "N (nucleocapsid)" #{"nucleocapsid phosphoprotein"}
                 "Cleavable thrombin" #{"linker_cleavable_thrombin_scerevisiae"}
                 "MBP" #{"orf_EPITOPE_mbp_scerevisiae" "MBP"}
                 "6xHIS" #{"EPITOPE_affinity_6xhis_multiple" "Tag | 6xHis"}
                 "StrepII" #{"EPITOPE_affinity_strepii_multiple" "Tag | StrepII"}
                 "3xFLAG" #{"Sc 3x FLAG tag"}
                 }
  :mol-props {2114452 {:display-name "AmpR; 2u URA3"
                       :antibiotic-resistance "ampicillin"
                       :copy-number "high"
                       :prototrophy "uracil"}
              2848551 {:antibiotic-resistance "chloramphenicol"
                       :copy-number "high"
                       :growth-condition "Best grown in 30C"}
              1586711 {:display-name "Cleavable thrombin"}
              1106295 {:display-name "Cleavable TEV"}
              1106277 {:display-name "HA"}
              1106288 {:display-name "Myc"}
              1106275 {:display-name "FLAG_2"}
            }}
 ;; Details on Addgene and BioBricks submissions
 :submissions {"2020-04-07" {:containers [503313 503317 503945 504295]}
               "2020-04-15" {:containers [505170 505199 505200 505201]}}
 :ncbi-to-uniprot {"YP_009725311.1" "nsp16"
                   "YP_009725307.1" "nsp12"
                   "YP_009725309.1" "ExoN"
                   "YP_009725310.1" "nsp15"}
 }
